.navbar{
    padding: 2rem !important;
    display:flex;
    justify-content: space-between;
    background:gray;
    margin-bottom:3rem;
}

.navbar-right{

    width:30%;
    display:flex;
    justify-content:space-between;
}
